# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Added for Anarchy Arcade
*.dia~

src/frontend/*
!src/frontend/aarcade/

game/*
!game/frontend/
game/frontend/*
!game/frontend/mounts.txt
!game/frontend/materials/
game/frontend/materials/*
!game/frontend/materials/vgui/
game/frontend/materials/vgui/logos/*
!game/frontend/mapsrc/
game/frontend/maps/graphs/*
game/frontend/maps/dm_lockdown.bsp
!game/frontend/maps/
!game/frontend/resource/
game/frontend/resource/*
!game/frontend/resource/ui/
game/frontend/resource/ui/*
!game/frontend/resource/ui/html/