html
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	overflow: hidden;
	font-size: 20px;
}

#cursor
{
	display: none;
	position: absolute;
	pointer-events: none;
}

#cursor .cursorImage
{
	width: 30px;
}

.mainButton
{
/*	border: 4px solid white;*/
/*display: inline-block;*/
	font-size: 20px;
	width: 10%;
	/*background-color: #333;*/
	/*background-image: -webkit-linear-gradient(left, #555, #555 70%, #333 70%, #333 100%);*/
	/*background-color: rgba(150, 150, 255, 0.7);*/
	background-color: rgba(150, 150, 150, 0.5);
	border-radius: 20px;
	border: 2px solid #ccc;
	text-align: center;
	font-family: Arial;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
	text-shadow: 2px 2px 2px #000;
	font-weight: bold;
}

.mainButton:hover
{
	background-color: rgba(150, 150, 150, 0.8);
}

.backButton
{
	position: absolute;
	left: 0;
	font-size: 20px;
	width: 10%;
	background-color: rgba(150, 150, 150, 0.5);
	border-radius: 4px;
	border: 2px solid #ccc;
	text-align: center;
	font-family: Arial;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	font-style: italic;
	text-shadow: 2px 2px 2px #000;
	font-weight: bold;
}

.backButton:hover
{
	background-color: rgba(150, 150, 150, 0.8);
}

.button
{
	font-size: 20px;
	background-color: rgba(150, 150, 150, 0.5);
	border-radius: 4px;
	border: 2px solid #ccc;
	text-align: center;
	font-family: Arial;
	padding-top: 5px;
	padding-bottom: 5px;
 	padding-left: 15px;
	padding-right: 15px;
	font-style: italic;
	text-shadow: 2px 2px 2px #000;
	font-weight: bold;
}

.button:hover:not(.disabledButton)
{
	background-color: rgba(150, 150, 150, 0.8);
}

.disabledButton
{
	color: #999;
	background-color: rgba(50, 50, 50, 0.9);
	text-decoration: line-through;
	pointer-events: none;
}

.mainTitle
{
	font-size: 40px;
	width: 100%;
	background-color: rgba(50, 50, 50, 0.9);
	text-align: center;
	font-family: Arial;
	padding-top: 10px;
	padding-bottom: 10px;
	font-style: italic;
	text-shadow: 2px 2px 2px #000;
	font-weight: bold;
	border-bottom: 3px solid rgba(0, 0, 0, 1.0);
}

.mainTitle div
{
	display: inline;
}

.mainTitle div div
{
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
}

.message
{
	font-size: 20px;
	width: 70%;
	/*background-color: #333;*/
	/*background-image: -webkit-linear-gradient(left, #555, #555 70%, #333 70%, #333 100%);*/
	border-radius: 20px;
	border: 2px solid #ccc;
	text-align: center;
	font-family: Arial;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
	text-shadow: 2px 2px 2px #000;
	font-weight: bold;
}

#itemContainer
{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#itemContainer .fieldContainer
{
	padding-top: 2px;
	padding-bottom: 2px;
	white-space: nowrap;
}

#itemContainer .fieldContainer div
{
	display: inline-block;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 3px solid rgba(0, 0, 0, 1.0);
}

#itemContainer .fieldContainer div:nth-of-type(1)
{
	border-radius: 10px;
	background-color: rgba(50, 50, 50, 0.7);
	text-align: right;
	padding-right: 10px;
	font-family: Arial;
	font-weight: bold;
	color: #ccc;
	width: 20%;
	text-shadow: 2px 2px 2px #000;
}

#itemContainer .fieldContainer div:nth-of-type(2)
{
	border-radius: 10px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 4px;
	font-family: Arial;
	width: 80%;
	padding-top: 0;
	padding-bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

#itemContainer .fieldContainer div:nth-of-type(2) input
{
	width: 100%;
	background-color: transparent;
	color: #fff;
	font-weight: 900;
	font-family: Arial;
	border: 0;
	font-size: 16px;
	/*padding-top: 4px;
	padding-bottom: 4px;*/
	text-shadow: 2px 2px 2px #000;
}

#itemContainer .fieldContainer div:nth-of-type(2) select
{
	width: 100%;
	/*background-color: transparent;*/
	background-color: #000;
	color: #fff;
	font-weight: 900;
	font-family: Arial;
	border: 0;
	font-size: 16px;
	/*padding-top: 4px;
	padding-bottom: 4px;*/
	text-shadow: 2px 2px 2px #000;
}

.popupMenuItemSearch
{
	width: 100%;
}

.popupMenuItemSearch form
{
	padding: 0;
	margin: 0;
}

.popupMenuItemSearch input
{
	border: 0;
	width: 100%;
	background-color: #111;
	padding: 4px;
	color: #ccc;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-style: italic;
}

.popupMenuContainer
{
	position: absolute;
	background-color: #000000;
	border: 3px solid #cc9900;
	/*
	background-color: #fff;
	color: #000;
	*/
	/*
	overflow-y: scroll;
	max-height: 150px;
	*/
}

.popupMenuItems
{
	/*
	position: absolute;
	background-color: #000000;
	border: 3px solid #cc9900;
	*/
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 150px;
}

.popupMenuItems::-webkit-scrollbar
{
	width: 15px;
	height: 15px;
}

.popupMenuItems::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
	border-radius: 10px;
	background-color: rgba(100, 100, 100, 0.7);
}

.popupMenuItems::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(100,100,100,1); 
	background-color: #777;
}

.popupMenuItems::-webkit-scrollbar-corner
{
	background-color: transparent;
}

.popupMenuItem
{
	font-family: arial;
	font-weight: bold;
	letter-spacing: 0.1em;
	white-space: nowrap;
}

.selectedPopupMenuItem
{
	background-color: #cc9900;
}

.popupMenuItem:hover
{
	background-color: #333;
}

#filterTypeSelect
{
	width: 50%;
}

#searchBox
{
	padding: 0;
	margin: 0;
	width: 100%;
}

.librarySearchContainer
{
	border: 3px solid rgba(0, 0, 0, 1.0);
	background-color: rgba(0, 0, 0, 0.9);
	padding: 4px;
	width: 70%;
	/*height: 10%;*/
	margin-left: auto;
	margin-right: auto;
}

.librarySearchContainer input
{
	width: 50%;
	opacity: 0.7;
	font-size: 30px;
	/*background-color: rgba(255, 255, 255, 0.3);*/
	border: 0;
	font-style: italic;
}

.librarySearchContainer input:hover
{
	opacity: 1.0;
	/*background-color: rgba(255, 255, 255, 1.0);*/
}

.librarySearchContainer select
{
	opacity: 0.7;
	font-size: 30px;
	background-color: #fff;
	border: 0;
}

.librarySearchContainer select:hover
{
	opacity: 1.0;
}

.libraryItemType
{
	display: inline-block;
	/*
	float: right;
	text-align: right;
	*/
	color: #999;
	font-style: italic;
	width: 10%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.libraryItemTitle
{
	display: inline-block;
	width: 90%;
	white-space: normal;
	word-wrap: break-word;
	text-shadow: 2px 2px 2px #000;
}

.helpContainer
{
	position: fixed;
	bottom: 0;
	left: 20%;
	right: 20%;
	/*border: 0;*/
	text-align: center;
	border: 3px solid rgba(0, 0, 0, 1.0);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	font-weight: bold;
	font-family: Arial;
	padding: 6px;
	background-color: rgba(50, 50, 50, 0.7);
	padding-bottom: 30px;
	/*background-color: rgba(255, 255, 255, 0.8);*/
}

.helpContainer div
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#libraryContainer
{
	background-color: rgba(0, 0, 0, 1.0);/*0.7);*/
	word-wrap: break-word;
	font-family: Arial;
	letter-spacing: 0.1em;
	/*display: absolute;*/
	/*border: 2px solid rgba(255, 255, 255, 0.4);*/
/*	background-color: rgba(50, 50, 50, 1.0);0.7);*/
	padding: 4px;
	width: 70%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	border-left: 3px solid rgba(0, 0, 0, 1.0);
	border-right: 3px solid rgba(0, 0, 0, 1.0);
}

#libraryContainer::-webkit-scrollbar
{
	width: 20px;
	height: 20px;
}

#libraryContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
	border-radius: 10px;
	background-color: rgba(100, 100, 100, 0.7);
}

#libraryContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(100,100,100,1); 
	background-color: #777;
}

#libraryContainer::-webkit-scrollbar-corner
{
	background-color: transparent;
}

#libraryContainer div
{
	padding: 2px;
}

#libraryContainer .libraryItemContainer
{
	white-space: nowrap;
}

#libraryContainer .libraryItemContainer:nth-of-type(even)
{
	background-color: rgba(0, 0, 0, 0.5);
}

#libraryContainer .libraryItemContainer:nth-of-type(odd)
{
	background-color: rgba(50, 50, 50, 0.5);/*0.7);*/
}

.devReload
{
	position: absolute;
	top: 0;
	right: 0;
}